@tailwind base;
@tailwind components;
@tailwind utilities;
/* Exemple de personnalisation */
body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.table th, .table td {
    vertical-align: middle;
}
